<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-spieler-heading" jhiTranslate="casinoApp.spieler.home.createOrEditLabel">Create or edit a Spieler</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="casinoApp.spieler.vorname" for="field_vorname">Vorname</label>
                    <input type="text" class="form-control" name="vorname" id="field_vorname"
                           formControlName="vorname"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="casinoApp.spieler.nachname" for="field_nachname">Nachname</label>
                    <input type="text" class="form-control" name="nachname" id="field_nachname"
                           formControlName="nachname"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="casinoApp.spieler.isKind" for="field_isKind">Is Kind</label>
                    <input type="checkbox" class="form-control" name="isKind" id="field_isKind"
                           formControlName="isKind"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="casinoApp.spieler.kennzahl" for="field_kennzahl">Kennzahl</label>
                    <input type="number" class="form-control" name="kennzahl" id="field_kennzahl"
                           formControlName="kennzahl"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
