<div>
    <h2 id="page-heading">
        <span jhiTranslate="casinoApp.stockValueChange.home.title">Stock Value Changes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-stock-value-change" [routerLink]="['/stock-value-change/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="casinoApp.stockValueChange.home.createLabel">
            Create a new Stock Value Change
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="stockValueChanges?.length === 0">
        <span jhiTranslate="casinoApp.stockValueChange.home.notFound">No stockValueChanges found</span>
    </div>
    <div class="table-responsive" *ngIf="stockValueChanges?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="casinoApp.stockValueChange.time">Time</span></th>
            <th scope="col" ><span jhiTranslate="casinoApp.stockValueChange.value">Value</span></th>
            <th scope="col" ><span jhiTranslate="casinoApp.stockValueChange.stock">Stock</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let stockValueChange of stockValueChanges ;trackBy: trackId">
                <td><a [routerLink]="['/stock-value-change', stockValueChange.id, 'view' ]">{{stockValueChange.id}}</a></td>
                <td>{{stockValueChange.time | date:'medium'}}</td>
                <td>{{stockValueChange.value}}</td>
                <td>
                    <div *ngIf="stockValueChange.stockId">
                        <a [routerLink]="['/stock', stockValueChange.stockId , 'view' ]" >{{stockValueChange.stockId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/stock-value-change', stockValueChange.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/stock-value-change', stockValueChange.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(stockValueChange)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
