<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="spielerAktie">
            <h2><span jhiTranslate="casinoApp.spielerAktie.detail.title">Spieler Aktie</span> {{spielerAktie.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="casinoApp.spielerAktie.anzahl">Anzahl</span></dt>
                <dd>
                    <span>{{spielerAktie.anzahl}}</span>
                </dd>
                <dt><span jhiTranslate="casinoApp.spielerAktie.spieler">Spieler</span></dt>
                <dd>
                    <div *ngIf="spielerAktie.spielerId">
                        <a [routerLink]="['/spieler', spielerAktie.spielerId, 'view']">{{spielerAktie.spielerId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="casinoApp.spielerAktie.aktie">Aktie</span></dt>
                <dd>
                    <div *ngIf="spielerAktie.aktieId">
                        <a [routerLink]="['/aktie', spielerAktie.aktieId, 'view']">{{spielerAktie.aktieId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/spieler-aktie', spielerAktie.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
