<div>
    <h2 id="page-heading">
        <span jhiTranslate="casinoApp.spielerAktieHistory.home.title">Spieler Aktie Histories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-spieler-aktie-history" [routerLink]="['/spieler-aktie-history/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="casinoApp.spielerAktieHistory.home.createLabel">
            Create a new Spieler Aktie History
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="spielerAktieHistories?.length === 0">
        <span jhiTranslate="casinoApp.spielerAktieHistory.home.notFound">No spielerAktieHistories found</span>
    </div>
    <div class="table-responsive" *ngIf="spielerAktieHistories?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="casinoApp.spielerAktieHistory.anzahl">Anzahl</span></th>
            <th scope="col" ><span jhiTranslate="casinoApp.spielerAktieHistory.creationTime">Creation Time</span></th>
            <th scope="col" ><span jhiTranslate="casinoApp.spielerAktieHistory.spieler">Spieler</span></th>
            <th scope="col" ><span jhiTranslate="casinoApp.spielerAktieHistory.aktie">Aktie</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let spielerAktieHistory of spielerAktieHistories ;trackBy: trackId">
                <td><a [routerLink]="['/spieler-aktie-history', spielerAktieHistory.id, 'view' ]">{{spielerAktieHistory.id}}</a></td>
                <td>{{spielerAktieHistory.anzahl}}</td>
                <td>{{spielerAktieHistory.creationTime | date:'medium'}}</td>
                <td>
                    <div *ngIf="spielerAktieHistory.spieler">
                        <a [routerLink]="['/spieler', spielerAktieHistory.spieler?.id, 'view' ]" >{{spielerAktieHistory.spieler?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="spielerAktieHistory.aktie">
                        <a [routerLink]="['/aktie', spielerAktieHistory.aktie?.id, 'view' ]" >{{spielerAktieHistory.aktie?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/spieler-aktie-history', spielerAktieHistory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/spieler-aktie-history', spielerAktieHistory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/spieler-aktie-history', { outlets: { popup: spielerAktieHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
