<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="stock">
            <h2><span jhiTranslate="casinoApp.stock.detail.title">Stock</span> {{stock.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="casinoApp.stock.name">Name</span></dt>
                <dd>
                    <span>{{stock.name}}</span>
                </dd>
                <dt><span jhiTranslate="casinoApp.stock.color">Color</span></dt>
                <dd>
                    <span>{{stock.color}}</span>
                </dd>
                <dt><span jhiTranslate="casinoApp.stock.value">Value</span></dt>
                <dd>
                    <span>{{stock.value}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/stock', stock.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
