<header>
    <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
        <div class="container-fluid">
            <div>
                <a class="navbar-brand" href="/index.html">Casino Night 2020</a>
            </div>
            <div>
                <a class="btn btn-primary" role="button" href="portal.html">Abmelden</a>
                <a class="btn btn-primary" role="button" href="portal.html">MitarbeiterInnen</a>
            </div>
        </div>
    </nav>
</header>
